<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Students manage</title>
</head>

<body>

    <div id="content">
    <div>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="/students/">Students</a></li>
                <li><a href="/groups/">Groups</a></li>
                <br/>
                <li><a href="/logout/">log out</a></li>
            {% else %} 
                <li><a href="/login/">log in</a></li>         
            {% endif %}                   
        </ul>

    </div>
        {% block students_in_group %}{% endblock %}

        {% if not user.is_authentificate %}
            {% block login %}{% endblock %}
        {% endif %}

        {% block groups %}{% endblock %}
        {% block students %}{% endblock %}
    </div>
</body>
</html>