</div>
<h1>Groups</h1>

<a href="/groups_add/">+ Add Group</a>
{% if groups_list %}
    <table border=1>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>    
        </tr>
        {% for group in groups_list %} 
        <tr>
          <td>
            <a href="/groups_edit/{{ group.pk }}/">
      {{ group.name|lower }}
      </a>
          </td>
          <td>
            <a href="/groups_edit/{{ group.pk }}/">edit</a>
      <a href="/groups_delete/{{ group.pk }}/">delete</a>
          </td>      
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No groups in database created.</p>
{% endif %}