{% extends "base.html" %}

{% block groups %}
<h1>Groups</h1>

<a href="/add/groups/">[Add Group]</a>
{% if groups %}
    <table border=0>
        <tr>
          <th>Name</th>
          <th>Senior</th>  
          <th>Num</th>  
          <th>&nbsp;</th>
        </tr>
        {% for group in groups %} 
        <tr>
          <td>
                
            <a href="/list/group/{{ group.name }}/">
                {{ group.name|title }}
            </a>
          </td>
          <td>
              <a href="/edit/students/{{ group.senior.pk}}">{{ group.senior|title }}</a>
          </td>
          <td>
              {{ group.student_set.count }}
          </td>            
          <td>
           [ <a href="/edit/groups/{{ group.pk }}/">edit</a> |
            <a href="/delete/groups/{{ group.pk }}/">delete</a> ]
          </td> 
   
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No groups in database created.</p>
{% endif %}
{% endblock groups %}