</div>
<h1>Students</h1>

<a href="/students_add/">+ Add student</a>
{% if students_list %}
    <table border=1>
        <tr>
          <th>Name</th>
          <th>&nbsp;</th>    
        </tr>
        {% for student in students_list %} 
        <tr>
          <td>
            <a href="/students_edit/{{ student.pk }}/">
      {{ student.name|lower }}
      </a>
          </td>
          <td>
            <a href="/students_edit/{{ student.pk }}/">edit</a>
      <a href="/students_delete/{{ student.pk }}/">delete</a>
          </td>      
        </tr>
        {% endfor %}    
    </table>

{% else %}
    <p>No students in database created.</p>
{% endif %}