<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html" />

    <script type="text/javascript" src="{{ MEDIA_URL }}underscore.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}backbone.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}jquery_csrf.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}handlebars.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}json2.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}application.js"></script>
</head>
<title>HERE</title>
<body>
<div align="center" class="centered">
    <input id="_id" type="text" value="1"/>

    <input id="gr" type="text" value="http://127.0.0.1:8000/api/groups/2/"/>
    <div id="get">
        <input type="button" id="ftch" value="fetch"/>
    </div>
    <p></p>
    <script>

    </script>
</div>
</body>
</html>


